Repository MostlyArmless/todo-list: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-manual-api-client, eslint, tsc, promptfoo

.pre-commit-config.yaml:

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: ^docs/images/
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^web/(\.next|next-env\.d\.ts|node_modules)/
      - id: trailing-whitespace
        exclude: ^web/(\.next|node_modules)/

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Frontend - ESLint and TypeScript
  - repo: local
    hooks:
      - id: no-manual-api-client
        name: no manual api client
        entry: bash -c 'if grep -r "from .@/lib/api." web/src --include="*.ts" --include="*.tsx" | grep -v "api-fetcher"; then echo "ERROR - Import from @/lib/api.ts detected. Use @/generated/api or @/lib/auth instead."; exit 1; fi'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd web && npx eslint src --max-warnings=0'
        language: system
        files: ^web/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd web && npx tsc --noEmit --skipLibCheck'
        language: system
        files: ^web/src/.*\.(ts|tsx)$
        pass_filenames: false

  # Tests - run in Docker
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: docker compose exec -T api pytest --cov=src --cov-fail-under=60 --tb=short -q
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: jest
        name: jest
        entry: bash -c 'cd web && npm test -- --coverage --silent'
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: promptfoo
        name: promptfoo evals
        entry: bash -c 'cd evals && npx promptfoo@latest eval --no-progress-bar'
        language: system
        files: ^(src/services/llm_prompts\.py|evals/promptfooconfig\.yaml)$
        pass_filenames: false
        stages: [pre-commit]

Remove automatic README media regeneration from post-commit hook
  CLAUDE.md
  scripts/hooks/post-commit
Due: none

Add field length validation and description field for tasks
  src/schemas/item.py
  web/next-env.d.ts
  web/src/app/list/[id]/page.module.css
  web/src/app/list/[id]/page.tsx
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
  web/src/generated/api.ts
Due: no-manual-api-client, eslint, tsc

Fix hydration mismatch on list detail page
  web/next-env.d.ts
  web/src/app/list/[id]/page.tsx
Due: no-manual-api-client, eslint, tsc

Add heuristic voice categorization with background LLM refinement
  alembic/versions/bf47c0f97f64_add_voice_refinement_fields.py
  src/api/voice.py
  src/models/item.py
  src/schemas/item.py
  src/services/heuristic_parser.py
  src/tasks/voice_processing.py
  web/src/app/list/[id]/page.module.css
  web/src/app/list/[id]/page.tsx
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
  web/src/generated/api.ts
Due: no-manual-api-client, eslint, tsc

Fix item name cleaning in voice input refinement
  PLAN_CALENDAR.md
  src/services/heuristic_parser.py
  src/services/llm_prompts.py
  src/tasks/voice_processing.py
Due: promptfoo

Add voice debug page for troubleshooting voice input processing
  alembic/versions/6bdab1b936db_add_voice_debug_info_column.py
  src/api/debug.py
  src/api/voice.py
  src/main.py
  src/models/item.py
  src/schemas/item.py
  src/tasks/voice_processing.py
  web/src/app/debug/page.module.css
  web/src/app/debug/page.tsx
  web/src/generated/api.ts
Due: no-manual-api-client, eslint, tsc

Fix debug API endpoint prefix to /api/v1/debug
  .env.example
  README.md
  docker-compose.yml
  src/api/debug.py
  web/src/app/debug/page.tsx
  web/src/generated/api.ts
Due: no-manual-api-client, eslint, tsc

Update voice.html to use instant endpoint
  web/public/voice/index.html
Due: none

Add missing @keyframes spin animation for refinement spinner
  web/src/app/list/[id]/page.module.css
  web/src/components/TaskItem.module.css
Due: none

Fix LLM debug info not saving to voice_debug_info JSONB column
  src/tasks/voice_processing.py
  tests/test_voice.py
Due: none

Add git SHA display to settings page for version tracking
  CLAUDE.md
  docker-compose.yml
  web/src/app/settings/page.module.css
  web/src/app/settings/page.tsx
Due: no-manual-api-client, eslint, tsc

Add item drag-and-drop reordering and always-visible mobile meatball menu
  web/src/app/list/[id]/page.module.css
  web/src/app/list/[id]/page.tsx
Due: no-manual-api-client, eslint, tsc

Fix item edit form styling and add realtime sync infrastructure
  docs/realtime-sync-plan.md
  src/api/categories.py
  src/api/items.py
  src/api/websocket.py
  src/main.py
  src/services/realtime.py
  web/e2e/screenshots/debug-recipe-detail.png
  web/e2e/screenshots/debug-recipes-list.png
  web/src/app/list/[id]/page.module.css
  web/src/app/list/[id]/page.tsx
  web/src/hooks/useListSync.ts
Due: no-manual-api-client, eslint, tsc

Add tests for realtime sync service and websocket endpoint
  tests/test_realtime.py
Due: none

Add multi-agent isolation for parallel development
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  docker-compose.override.template.yml
  docs/multi-agent-isolation.md
  scripts/agent-compose.sh
  scripts/agent-env.sh
Due: none

Use pwa-dev (hot reload) for agent environments
  CLAUDE.md
  docker-compose.override.template.yml
  docs/multi-agent-isolation.md
  scripts/agent-env.sh
Due: none

Fix multi-agent infrastructure issues discovered in testing
  scripts/agent-compose.sh
  scripts/agent-env.sh
Due: none

Fix task added message overlapping with other UI elements
  web/src/app/list/[id]/page.module.css
Due: none

Show subtle item IDs on Dev tasks list (ID 86)
  web/next-env.d.ts
  web/src/app/list/[id]/page.tsx
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
Due: no-manual-api-client, eslint, tsc

Make pre-commit pytest hook agent-aware
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/run-pytest.sh
Due: none

Improve multi-agent infrastructure based on experiment learnings
  .claude/settings.json
  .gitignore
  CLAUDE.md
  docker-compose.override.template.yml
  docs/multi-agent-isolation.md
  scripts/agent-compose.sh
  scripts/agent-env.sh
Due: none

Hide delete list button behind meatball menu on /lists page
  web/src/app/lists/page.module.css
  web/src/app/lists/page.tsx
Due: no-manual-api-client, eslint, tsc

Fix PWA installability and websocket test hanging
  src/api/websocket.py
  tests/test_realtime.py
  web/public/sw.js
Due: none

Fix agent-env.sh port pattern matching for sed
  scripts/agent-env.sh
Due: none

Add documentation for PWA fix loose ends
  docs/pwa-fix-loose-ends.md
Due: none

Fix WebSocket DB connection leak causing pool exhaustion
  src/api/websocket.py
Due: none

Add category support to task lists with drag-and-drop UI
  src/api/categories.py
  src/api/items.py
  tests/test_api.py
  web/src/app/list/[id]/page.module.css
  web/src/app/list/[id]/page.tsx
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
Due: no-manual-api-client, eslint, tsc

Add note to commit before rebuilding PWA
  CLAUDE.md
Due: none

Add family-based list sharing feature
  alembic/versions/f1a2b3c4d5e6_add_family_tables.py
  src/api/dependencies.py
  src/api/families.py
  src/api/lists.py
  src/main.py
  src/models/__init__.py
  src/models/family.py
  src/schemas/family.py
  tests/test_family.py
  web/src/app/family/page.module.css
  web/src/app/family/page.tsx
  web/src/app/lists/page.module.css
  web/src/app/lists/page.tsx
  web/src/components/Navbar.tsx
  web/src/generated/api.ts
Due: no-manual-api-client, eslint, tsc

Remove redundant category badge from task items
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
Due: no-manual-api-client, eslint, tsc

Fix PWA manifest and service worker for Cloudflare Access
  web/src/app/layout.tsx
  web/src/components/Providers.tsx
Due: no-manual-api-client, eslint, tsc

Sort task list items by due date within categories
  web/src/app/list/[id]/page.tsx
Due: no-manual-api-client, eslint, tsc

Add list archiving feature
  CLAUDE.md
  alembic/versions/d3956c59dd12_add_archived_at_to_lists.py
  src/api/lists.py
  src/models/list.py
  src/schemas/list.py
  tests/test_api.py
  web/src/app/lists/page.module.css
  web/src/app/lists/page.tsx
  web/src/generated/api.ts
Due: no-manual-api-client, eslint, tsc

Improve drag-and-drop scroll speed and add "Move to section" menu option
  web/src/app/list/[id]/page.module.css
  web/src/app/list/[id]/page.tsx
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
Due: no-manual-api-client, eslint, tsc

Add "Move to other list" feature and extract shared modal components
  src/api/items.py
  src/schemas/item.py
  web/src/app/list/[id]/page.module.css
  web/src/app/list/[id]/page.tsx
  web/src/components/MoveItemModal.module.css
  web/src/components/MoveItemModal.tsx
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
  web/src/generated/api.ts
Due: no-manual-api-client, eslint, tsc

Add AI-powered deduplication for checked grocery list items
  src/api/items.py
  src/celery_app.py
  src/schemas/item.py
  src/tasks/deduplication.py
  web/src/app/list/[id]/page.module.css
  web/src/app/list/[id]/page.tsx
  web/src/components/DeduplicateModal.module.css
  web/src/components/DeduplicateModal.tsx
  web/src/generated/api.ts
Due: no-manual-api-client, eslint, tsc

Fix dedup status polling to use celery app backend
  src/api/items.py
Due: none
